@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.mainpage {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    background: #FFFFFF;
    
  }

.header-content {
    box-sizing: border-box;
    position: absolute;
    height: 823px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-image: url("./assets/img/background.jpg");
}

.navbar {
    position: absolute;
    width: 1322px;
    height: 104px;
    left: calc(50% - 1322px/2);
    top: 0px;
}
.navbar-logo {

    position: absolute;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 431.5px);
    top: calc(50% - 105px/2);
}

#navbar-h3 {

    
    position: absolute;
    width: 86px;
    height: 32px;
    left: 0px;
    top: 13px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;

    letter-spacing: 0.1px;


    color: #252B42;
    
}

/*.background {
    position: absolute;
    width: 1440px;
    height: 823px;
    left: 0px;
    top: 0px;
    
}*/

.filter {
    position: absolute;
    height: 823px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.7);
}

.cover {
    position: absolute;
    height: 823px;
    left: 0px;
    right: 0px;
    top: 0px;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 27px;

    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% + 125px);
    top: calc(50% - 54px/2);
}

ul {
    list-style-type: none;
}

.navbar-nav li {
    width: 45px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  

    text-align: center;
    letter-spacing: 0.2px;


    color: #737373;
}

#lupa{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1105px;
    top: calc(50% - 20px/2 + 0px);
}

#korz {
    position: absolute;
    width: 16px;
    height: 14.93px;
    left: 1142px;
    top: calc(50% - 14.93px/2 + 0.47px);
}

#togl {
    position: absolute;
    width: 24px;
    height: 13.71px;
    left: calc(50% - 24px/2 + 649px);
    top: 45px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;

    position: absolute;
    width: 1050px;
    height: 719px;
    left: calc(50% - 1050px/2);
    top: 147px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 120px;
    width: 1050px;
    height: 500px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 0px;
    width: 600px;
    height: 338px;
}

.info-h1 {
    width: 693px;
    height: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 1px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-h4 {
    width: 539px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.info-btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 349px;
    height: 48px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.btn1 {

padding: 10px 36px;
gap: 0px;


background: #FF7B47;
border-radius: 37px;


flex: none;
order: 0;
flex-grow: 0;

width: 113px;
height: 28px;



font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;

text-align: center;
letter-spacing: 0px;

color: #FFFFFF;



flex: none;
order: 0;
flex-grow: 0;
}
.btn2 {
  
    
    padding: 10px 36px;
    gap: 0px;
    
    
    
    border: 1px solid #0D5C63;
    border-radius: 37px;
    
    
    flex: none;
    order: 1;
    flex-grow: 0;

    width: 83px;
    height: 28px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    text-align: center;
    letter-spacing: 0px;

    color: #0D5C63;


    flex: none;
    order: 0;
    flex-grow: 0;
}
.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 35px;
    
    width: 250px;
    height: 520px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.reg-content{
    position: relative;
    bottom: 50px;
}

.reg-h3 {
    width: 233px;
    height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.reg-name {
    width: 248px;
    height: 91px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

p {
 
    width: 50px;
    height: 24px;

    /* h6 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* text-color */

    color: #252B42;
}

input {

    width: 248px;
    height: 50px;


    box-sizing: border-box;

    padding: 10px 10px;

    background: #F9F9F9;

    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}

select {
    width: 248px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 10px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}

.reg-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 248px;
    height: 50px;
    position: relative;
    bottom: 70px;

    background: #FF7B47;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    /* btn-text */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    text-align: center;
    
    letter-spacing: 0.2px;

    /* light-text-color */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ind {
    position: absolute;
    height: 732px;
    left: 0px;
    right: 0px;
    top: 823px;
    background: #FFFFFF;
}

.ind-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 80px;

    position: absolute;
    width: 1050px;
    height: 732px;
    left: calc(50% - 1050px/2);
    top: 0px;
}

.ind-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 864px;
    height: 107px;
    order: 0;
    flex-grow: 0;
}

#ind-h2 {
    width: 171px;
    height: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin: 20px;

    /* text-color */

    color: #252B42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#ind-p {
    width: 470px;
    height: 40px;

    /* paragraph */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ind-opt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 1046px;
    height: 385px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 328px;
    height: 385px;
    background: #D9EDFF;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 50px;
    gap: 15px;
    width: 343px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ind h5{
    width: 156px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card-content {
    box-sizing: border-box;
    width: 328px;
    height: 253px;
    padding: 0px 30px;
    background: #FFFFFF;
    border: 1px solid #A9D6FF;
    border-radius: 11px;

}

.ind h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    margin-top: 100px;
    margin: 10px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.ind a{
    width: 84px;
    height: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FF7B47;
    flex: none;
    order: 5;
    flex-grow: 0;
}