@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.mainpage {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    background: #FFFFFF;
  }

.header-content {
    box-sizing: border-box;
    position: absolute;
    height: 823px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FAFAFA;
}

.navbar {
    position: absolute;
    width: 1322px;
    height: 104px;
    left: calc(50% - 1322px/2);
    top: 0px;
}
.navbar-logo {

    position: absolute;
    width: 187px;
    height: 58px;
    left: calc(50% - 187px/2 - 431.5px);
    top: calc(50% - 105px/2);
}

#navbar-h3 {

    
    position: absolute;
    width: 86px;
    height: 32px;
    left: 0px;
    top: 13px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;

    letter-spacing: 0.1px;


    color: #252B42;
    
}

.backgound {
    position: absolute;
    width: 1440px;
    height: 823px;
    left: 0px;
    top: 0px;
}

.filter {
    position: absolute;
    height: 823px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.7);
}

.cover {
    position: absolute;
    height: 823px;
    left: 0px;
    right: 0px;
    top: 0px;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 27px;

    position: absolute;
    width: 280px;
    height: 24px;
    left: calc(50% + 125px);
    top: calc(50% - 54px/2);
}

ul {
    list-style-type: none;
}

.navbar-nav li {
    width: 45px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  

    text-align: center;
    letter-spacing: 0.2px;


    color: #737373;
}

#lupa{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1105px;
    top: calc(50% - 20px/2 + 0px);
}

#korz {
    position: absolute;
    width: 16px;
    height: 14.93px;
    left: 1142px;
    top: calc(50% - 14.93px/2 + 0.47px);
}

#togl {
    position: absolute;
    width: 24px;
    height: 13.71px;
    left: calc(50% - 24px/2 + 649px);
    top: 45px;
}